:root {
  scroll-behavior: smooth;
}

body {
  @extend %worksans-300;
  color: $main;
  font-size: 1.125rem;
  line-height: 220%;

  @media (max-width: 47.9375em) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  max-width: 120rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  margin: 0 auto;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 98.75rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.section {
  position: relative;
  background-color: $secondary-bg;
  padding: 10rem 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6.6875rem;
    height: 6.6875rem;
    background-image: url("../img/decor/corner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
}

.title {
  color: $main;
  @extend %playfair-700;
  font-size: 3rem;
  line-height: normal;
  letter-spacing: 0.06rem;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: -0.4375rem;
    left: -2.25rem;
    z-index: -1;
    width: 5.25rem;
    height: 5.25rem;
    background-color: $accent;
    border-radius: 50%;
  }
}

.subtitle {
  color: $main;
  @extend %worksans-400;
  font-size: 1.625rem;
  line-height: 2.925rem;
}

.button {
  display: inline-block;
  height: 3.5rem;
  border: 0.0625rem solid #a4b7b1;
  box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.5rem 1.5rem;
  padding: 1.125rem 2rem;
  border-radius: 0.625rem;
  color: $main;
  @extend %worksans-500;
  font-size: 1rem;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &::after {
    content: "";
    display: inline-block;
    width: 1.125rem;
    height: 0.625rem;
    background-image: url("../img/icons/btn-arrow.svg");
    margin-left: 0.5rem;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    background-color: $accent;

    &::after {
      margin-left: 1.25rem;
    }
  }
}

/* ------- Animation elements -------- */

.loaded .hero__slider {
  transform: translate(0, 0);
}

[data-item] {
  transform: translate(0px, 3.125rem);
  opacity: 0;
  transition: all 0.8s;
}

[data-item].active {
  transform: translate(0, 0);
  opacity: 1;
}

[data-item].hero__title,
[data-item].about__title,
[data-item].about__photo,
[data-item].images__top,
[data-item].portfolio__title,
[data-item].services__title,
[data-item].blog__title,
[data-item].contact__content {
  transition-delay: 0.3s;
}

[data-item].hero__text,
[data-item].about__subtitle,
[data-item].images__bottom,
[data-item].portfolio__subtitle,
[data-item].services__subtitle,
[data-item].blog__subtitle,
[data-item].footer__top {
  transition-delay: 0.5s;
}

[data-item].hero__btn,
[data-item].about__text,
[data-item].portfolio__slider,
[data-item].services__list,
[data-item].blog__items,
[data-item].blog__btn,
[data-item].contact__btn,
[data-item].footer__bottom {
  transition-delay: 0.7s;
}

[data-item].services__text,
[data-item].services__images img {
  transition-delay: 0.9s;
}

[data-item].services__btn,
[data-item].services__main-image {
  transition-delay: 1.1s;
}
