.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: $bg;
  transition: all 0.5s;

  &.scroll {
    background-color: #f9eed4;
  }

  &.scroll .header__body {
    padding: 0.625rem 0;
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 1.5625rem 0;
    transition: all 0.5s;

    @media (max-width: 47.9375em) {
      padding: 0.625rem 0;
      column-gap: 1.25rem;
    }
  }

  &.scroll .menu__link::after {
    bottom: -1.5625rem;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3125rem;
  position: relative;
  z-index: 2;

  &:hover,
  &:focus {
    .logo__title {
      color: $accent;
      span {
        color: $main;
      }
    }
  }

  &__title {
    @extend %roboto-700;
    font-size: 1rem;
    line-height: 146%;
    letter-spacing: 0.14rem;
    transition: all 0.3s ease;
    span {
      color: $accent;
      transition: all 0.3s ease;
    }

    @media (max-width: 75em) {
      font-size: 0.875rem;
    }
    @media (max-width: 62.5em) {
      display: none;
    }
  }

  @media (max-width: 75em) {
    img {
      width: 100px;
    }
  }
  @media (max-width: 47.9375em) {
    img {
      width: 80px;
    }
  }
}

.menu {
  margin-left: auto;
  margin-right: 4.6875rem;
  @media (max-width: 75em) {
    margin-right: auto;
  }
  @media (max-width: 47.9375em) {
    order: 1;
    margin: 0;
  }

  &__burger {
    display: none;
    @media (max-width: 47.9375em) {
      position: relative;
      z-index: 2;
      display: block;
      width: 1.875rem;
      height: 1.25rem;
      position: relative;
      span {
        position: absolute;
        width: 100%;
        top: 0.5625rem;
        left: 0;
        height: 0.125rem;
        background-color: $main;
        transition: all 0.5s;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: $main;
        transition: all 0.5s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active span {
        transform: scale(0);
      }
      &.active::before {
        transform: rotate(45deg);
        top: 0.5625rem;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 0.5625rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 47.9375em) {
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      width: 100%;
      height: 100vh;
      overflow: auto;
      background-color: $secondary-bg;
      margin-top: 3.4375rem;
      padding: 40px 15px;
      text-align: center;
      transition: all 0.5s;
      &.active {
        left: 0;
      }
    }
  }

  &__item {
    @media (max-width: 47.9375em) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    padding: 0.9375rem 1.5625rem;
    @extend %worksans-400;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
    &::after {
      content: "";
      position: absolute;
      bottom: -2.5rem;
      left: 50%;
      width: 0;
      height: 0.25rem;
      background-color: $accent;
      transition: all 0.3s ease;
    }
    &:hover,
    &:focus {
      font-weight: 500;
      color: $accent;
      &::after {
        width: 100%;
        left: 0;
      }
    }
    @media (max-width: 75em) {
      padding: 0.75rem;
      &::after {
        bottom: -2.25rem;
      }
    }
    @media (max-width: 62.5em) {
      &::after {
        display: none;
      }
    }
    @media (max-width: 47.9375em) {
      font-size: 1.25rem;
    }
  }
}

.social {
  display: flex;
  column-gap: 0.9375rem;
  position: relative;
  z-index: 2;

  @media (max-width: 47.9375em) {
    margin-left: auto;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.625rem;
    border-radius: 50%;
    transition: all 0.3s ease;

    path {
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
      background-color: $accent;
      path {
        fill: $main;
      }
    }

    @media (max-width: 62.5em) {
      width: auto;
      height: auto;
      padding: 0.4375rem;
    }
  }

  @media (max-width: 75em) {
    column-gap: 0.3125rem;
  }
}
