%worksans-300 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
%worksans-400 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
%worksans-500 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
%worksans-700 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

%playfair-400 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
%playfair-700 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

%roboto-700 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

$main: #053634;
$accent: #ebb017;
$bg: #f8f6f1;
$secondary-bg: #f0f1ea;
